.socials {
  padding: 20px;
  color: #fff;
  background-color: #96a24e;
}

.footerInfos {
  text-align: center;
  background-color: black;
  padding: 20px;
  color: #fff;
}

.footerLogo {
  width: 150px;
  margin: auto;
}

.mentionsLink {
  background-color: black;
  text-align: center;
  padding-bottom: 10px;
}

.linkMentions {
  text-decoration: none;
  color: #fff;
}

.linkMentions:hover {
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .footerLogo {
    width: 450px;
  }
}
