h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alice" !important;
}

body {
  font-family: "Playfair Display" !important;
}

.btn-green {
  background-color: #96a24e !important;
}

.sectionTitle {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
}
