#whoami {
  background-color: #96a24e;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #whoami {
    text-align: left;
  }
}

.imageContainerWhoAmI {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.imageContainerWhoAmI > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
